.cta{
    font-family: 'Poppins', sans-serif;
    padding: 24px;
    background-image: linear-gradient(45deg,  hsl(257, 27%, 26%),hsla(257, 28%, 30%, 0.389)), url(../images/bg-boost-desktop.svg);
    background-position: center center;
    background-size: cover;
    /* background-blend-mode: multiply; */
    text-align: center;
}

.cta h2{
    font-size: 44px;
    font-weight: 700px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    color: #fff;
}

.cta .cta-btn{
    padding: 12px 24px;
    color: #fff;
    font-weight: 700;
    border-radius: 100px;
    font-size: inherit;
    border: none;
    background-color: hsl(180, 66%, 49%);
    /* background-color: hsl(257, 27%, 26%); */
}

@media only screen and (max-width: 600px){
    .cta{
        padding: 12px;
        line-height: 1.2;
    }
    .cta h2{
        font-size: 36px;
        text-align: center;
    }
}