@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size:  18px;
}
footer{
    background-color: hsl(260, 8%, 14%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    padding: 24px 0;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
}

.footer h3{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 14px;
}
.footer-logo h3{
    font-size: 24px;
    font-size: 700;
    color: #fff;
}

.footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

.footer ul li a{
    color: hsl(257, 7%, 63%);
    font-size: 16px;
    text-decoration: none;
}
.footer-icons{
    display: flex;
}

.footer-icon:not(:first-child){
    margin-left: 14px;
}
.footer-icons--image{
    width: 16px;
    height: 16px;
    color: hsl(0, 0%, 75%);
}

@media only screen and (max-width: 375px){
    .footer{
        text-align: center;
    }
    .footer h3{
        font-size: 21px;
        color: #fff;
    }
    .footer-logo h3{
        color: #fff;
        font-size: 36px;
        font-weight: 700;
    }
    
    .footer{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .footer-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-icons--image{
        width: 19px;
        height: 19px;
    }
}
